<div ng-show="item">
	<div class="row">
		<div class="col-sm-12">
			<button ng-class="{'btn-success': item.approved, 'btn-danger': ! item.approved}"
				ng-click="toggleCompleted(item)" class="btn">
				Profiel is {{ item.approved ? '' : 'niet' }} goedgekeurd
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h2>Profiel data</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Naam</h4>
					<p class="list-group-item-text">
						{{ item.first_name }} {{ item.last_name_prefix }} {{ item.last_name }}
					</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Opleiding</h4>
					<p class="list-group-item-text">{{ item.program.data.name }} in {{ item.school_location.data.name }}</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Email school</h4>
					<p class="list-group-item-text">{{ item.user.data.email }}</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Email persoonlijk</h4>
					<p class="list-group-item-text">{{ item.email }}</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Website</h4>
					<p class="list-group-item-text">
						<a href="{{ item.website }}" target="_blank" ng-show="item.website">{{ item.website }}</a>
					</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Woonplaats</h4>
					<p class="list-group-item-text">{{ item.location }}</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Welke quote inspireerd/beschrijft jou het meest?</h4>
					<p class="list-group-item-text">{{ item.quote }}</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Social Media</h4>
					<p class="list-group-item-text">
						<ul class="list-inline" ng-show="item.social_media.data.length > 0">
							<li ng-repeat="account in item.social_media.data">
								<a href="{{ account.url }}" target="_blank">
									<img ng-src="/assets/backend/img/socialmedia/{{ account.icon }}" alt="{{ account.type }}">
								</a>
							</li>
						</ul>
					</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<h2>Vragen</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="answer in item.answers.data">
					<button class="btn btn-xs btn-primary pull-right" ng-click="toggleEditing(answer)">
						{{ isEditing(answer) ? 'Cancel' : 'Edit' }}
					</button>
					<button class="btn btn-xs btn-danger pull-right" ng-click="updateAnswer(answer)"
						ng-show="isEditing(answer)">
						Save
					</button>
					<h4 class="list-group-item-heading">{{ answer.question }}</h4>
					<p class="list-group-item-text">
						<div ng-hide="isEditing(answer)">
							{{ answer.value }}
						</div>
						<textarea ng-show="isEditing(answer)" class="form-control" rows="3"
							ng-model="answer.value"></textarea>
					</p>
				</li>
			</ul>
			<h2>Filters</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="property in item.properties.data">
					<h4 class="list-group-item-heading">{{ property.filter }}</h4>
					<p class="list-group-item-text">{{ property.option }}</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4" ng-repeat="portfolioItem in item.portfolio_items.data">
			<h4>{{ portfolioItem.type }}</h4>
			<div ng-show="portfolioItem.media_type == 'image'">
				<a ng-href="{{ portfolioItem.original }}" target="_blank">
					<img ng-src="{{ portfolioItem.thumbnail }}" class="img-responsive img-rounded">
				</a>
			</div>
			<div ng-show="portfolioItem.media_type == 'video'">
				<a ng-href="{{ portfolioItem.url }}" target="_blank">Bekijk video</a>
			</div>
		</div>
	</div>
</div>
<div ng-hide="item">
	Laden..
</div>
